.BTState{
    background-image: url('../../public/images/glasses/background.jpg');
    background-size: cover;
    height: 1111px;
    .mainHeader{
        margin-bottom: 101.5px;
    }
    .navbar{
        padding: 20px 10px;
        font-size: 20px;
        font-weight: 700;
    }
    .navbar-brand{
        font-size: 25px;
        margin-right: 25px;
        border: solid 2px yellowgreen;
        border-radius: 10px;
        padding: 10px 20px;
        background-color: aquamarine;
    }
    .nav-link{
        transition: 0.5s;
    }
    .nav-item:hover .nav-link{
    color: green;;
    }

    .mainBody{
        transform: translateY(20px);
        color: rgb(211, 75, 98);
        .card-img{
            height: 460px;
        }
        .modelCard{
            margin: 15px auto;
        }
        .img-content{
            bottom: 0;
            left: 0;
            transform: translateY(-180px);
            padding: 0 10px;
            background: rgba(216, 59, 59, 0.6);
            color: rgb(84, 84, 230);
            .card-text{
                color: white;
            }
        }
        .product-glasses{
            transform: translateY(-190px);
            border: solid 1px black;
            border-radius: 10px;
            margin: 20px 40px;
            padding: 50px;
            background-color: white;
            .product7{
                margin-top: 40px;
            }
            .product8{
                margin-top: 40px;
            }
            .product9{
                margin-top: 40px;
            }
        }
        .model-glasses{
            width: 210px;
            height: 90px;
            transform: translateY(-350px);
            opacity: 0.5;
        }
        }
   
    }
